<li class="<%= time_tense(day.date) %>" id="day_<%= day.id %>">
	<h2 id='<%= day.id %>'>
		<%= format_date(day.date) %>
	</h2>

	<% if day.tasks.blank? %>
		<p id="day_<%=day.id%>_tasks">No tasks specified</p>
	<% else %>
		<p id="day_<%=day.id%>_tasks"><%= day.tasks %></p>
	<% end %>

	<%= link_to "Edit", edit_day_path(day), id: "edit_#{day.id}", remote: true %>
</li>