<div id="day.id">
	<h2 id='daily_list_<%= day.id %>'>
		<%= format_date(day.date) %>
	</h2>

	<% if day.tasks.blank? %>
		<p>No tasks specified</p>
	<% else %>
		<%= raw day.tasks %>
	<% end %>

	<%= link_to "Edit", edit_day_path(day), id: "#{day.id}", remote: true %>

	<%= tinymce %>
</div>

