<fieldset>
	<p>
		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :body, "Body" %>
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.hidden_field :_destroy %>
		<%= link_to "remove", '#', class: "remove_fields" %>
	</p>
</fieldset>