<h2 class="<%= time_tense(@daily_list.date) %>" id="list_<%= @daily_list.id %>"><%= format_date(@daily_list.date) %></h2>

<%= raw @daily_list.tasks %>

<%= link_to "Edit", edit_day_path(@daily_list) %> |
<%= link_to "Back", days_path(anchor: "daily_list_#{@daily_list.id}") %>