$('#day_<%= @day.id %>_form, #day_<%= @day.id %>_text_area, #day_<%= @day.id %>_button').hide();
$('#edit_<%= @day.id %>').show();
$('#day_<%= @day.id %>_tasks').replaceWith("<p><%= @day.tasks %></p>");
